.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  animation: slideUp 3.5s ease-in;
}

table{
  background-color: #78c729;
  background: #78c729;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
  table-layout: fixed;
  margin: 16px 8px;
}


td{
  padding: 10px 20px;
}

.big-f{
  font-size: 3em;
  /* border: 1px solid rgb(58, 55, 55); */
  border-radius: 6px;
}

.small-f{
  font-size: 1.5em;
}

.black-check{
  color: #000;
}

.white-check{
  color: #fff;

}

.green-check{
  color: #78c729;
}

.dark-green-check{
  color: #458705;
}

@media only screen and (max-width: 600px) {
  table{
    width: 100%;
    margin: 8px;
    padding: 5px 5px 10px 5px;
    
  }

  .big-f{
    font-size: 1.5em;
  }
  
  .small-f{
    font-size: 1em;
  }

  td{
    padding: 5px 10px;
  }
}

@keyframes slideUp {
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}